<div class="contain">

<div class="columns" ID= "left">
  <div class="titleTrack">
    <h3> First Category</h3>
  </div>
  <div class="buttons">
    <a ui-sref = "100L"><h3>100</h3></a>
  </div>
  <div class="buttons">
    <h3>200</h3>
  </div>
  <div class="buttons">
    <h3>300</h3>
  </div>
  <div class="buttons">
    <h3>400</h3>
  </div>
  <div class="buttons">
    <h3>500</h3>
  </div>
</div>

<div class="columns">
  <div class="titleTrack">
    <h3> Third Category</h3>
  </div>
  <div class="buttons">
    <h3>100</h3>
  </div>
  <div class="buttons">
    <h3>200</h3>
  </div>
  <div class="buttons">
    <h3>300</h3>
  </div>
  <div class="buttons">
    <h3>400</h3>
  </div>
  <div class="buttons">
    <h3>500</h3>
  </div>
</div>
<div class="columns">
  <div class="titleTrack">
    <h3> Third Category</h3>
  </div>
  <div class="buttons">
    <h3>100</h3>
  </div>
  <div class="buttons">
    <h3>200</h3>
  </div>
  <div class="buttons">
    <h3>300</h3>
  </div>
  <div class="buttons">
    <h3>400</h3>
  </div>
  <div class="buttons">
    <h3>500</h3>
  </div>
</div>
</div>
